<div class="login-container">
    <h2>Formato para reestablecer contraseñas</h2>
    <div class="input-group">
       <label for="tel">Ingresa tu teléfono, te enviaremos un código</label>
       <input type="tel" name="tel" id="">
       <label for="email">Ó escribe tu email</label>
       <input type="email" name="" id="">
       <button class="button" type="submit" value="login">Enviar código</button>
    </div>

    <div class="input-group recover">
        <label for="codigo">Ingresa el código</label>
        <input type="number" name="codigo" id="" />
        <button class="button" type="submit" value="login">Reestablecer</button>
    </div>

    <div class="login-footer">
        <p>Te enviaremos un código por sms/correo, cuando te llegue lo envias por aquí y se te asigará una contraseña provisional, ingresarás con ella y podrás cambiarla ua vez ingreses</p>
        <a href="#">¿Necesitas ayuda?</a>
    </div>
</div>

