<div class="login-container">
    <form  [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
    <h2>Formato para reestablecer contraseñas</h2>
    <div class="input-group">
       <label for="tel">Ingresa tu teléfono, si corresponde a un usuario, reestableceremos su contraseña</label>
       <input type="tel" name="tel" id=""><br>
       <label for="password">Nueva contraseña</label>
       <input type="password" name="password" id="password">
       <button class="button" type="submit" value="login">Reestablecer</button>
    </div>

    <div class="input-group recover">
        <!-- <label for="codigo">Ingresa el código</label> -->
        
        <!-- <button class="button" type="submit" value="login">Reestablecer</button> -->
    </div>

    <div class="login-footer">
        <!-- <p>Te enviaremos un código por sms/correo, cuando te llegue lo envias por aquí y se te asigará una contraseña provisional, ingresarás con ella y podrás cambiarla ua vez ingreses</p> -->
        <a href="#">Vuelve al login</a>
    </div>
</form>
</div>

