<div class="login-container">
    <h2>Login</h2>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="" id="" />
        <label for="password">Contrseña</label>
        <input type="password" name="" id="" />
    </div>
    <div class="login-footer">
        <button type="submit" value="login">login</button>
        <p>¿No tienes cuenta?</p>
        <a href="#">regístrate</a>
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </div>
</div>
<button (click)="navegar()" >Registrarse</button>
<button (click)="saludar()" >Saludar</button>
<button (click)="mostrarMensaje()" >Mostrar mensaje</button>
<h1>{{ saludo}} </h1>
<h1>{{ message }}</h1>
<!-- 
<app-register></app-register>
<app-recover-password></app-recover-password> -->