<div class="register-container">
    <h2>Registro</h2>
    <div class="input-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="name" >
        <label for="apellido">Apellido</label>
        <input type="text" name="" id="surname">
        <label for="tel">tel</label>
        <input type="tel" name="tel" id="phone">
        <label for="email">Email</label>
        <input type="email" name="" id="email" />
        <label for="password">Contrseña</label>
        <input type="password" name="" id="password" />
    </div>
    <div class="register-footer">
        <button (click)="saveUser()" id="saveUserBtn" type="button" value="register">Registro</button>
        <p>¿Ya tienes cuenta?</p>
        <a href="#">Inicia sesión</a>
    </div>
</div>