<form [formGroup]="registerForm" (ngSubmit)="saveUser()">
<div class="register-container">
    <h2>Registro</h2>
    <div class="input-group">
        <label for="nombre">Nombre</label>
            <input type="text"  
                    id="name" 
                    pInputText
                    formControlName="name"
                    placeholder="Pepe">
        <label for="apellido">Apellido</label>
            <input type="text" id="surname" 
                pInputText
                formControlName="surname"
                placeholder="Perez"
                />
        <!-- <label for="docNumber">Número de documento</label>
            <input type="number" id="docNumber" 
                pInputNumber
                formControlName="docNumber"
                placeholder="123214012"
                [minlength]=8
                /> -->
        <label for="tel">tel</label>
            <input type="tel" id="phone"
                pInputNumber
                formControlName="phone"
                placeholder="3110213419"
                />
        <label for="email">Email</label>
            <input type="email" name="" id="email" 
            pInputText
            formControlName="email"
            placeholder="nombre@ejemplo.com"/>
            <small *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="errors-validator" *ngIf="email.errors?.['required']">El correo es requerido</div>
                <div class="errors-validator" *ngIf="email.errors?.['email']">Ingresa un correo válido</div>
            </small>
        <label for="password">Contrseña</label>
            <input type="password"   
            pInputText
            formControlName="password"
            placeholder="******" 
            [minlength]=5
            id="password" />
            <small *ngIf="password.errors?.['minlength'] && (password.touched)">
                <div class="errors-validator">La contraseña debe tener<br> al menos 5 caracteres</div>
            </small>
    </div>
    <div class="register-footer">
        <button (click)="saveUser()" id="saveUserBtn" class="button" type="button" value="register">Registro</button>
        <p>¿Ya tienes cuenta?</p>
        <button (click)="loginRedirect()" class="registerBtn" >Inicia sesión</button>
    </div>
</div>
</form>

<!--         <input type="email"
        pInputText
        formControlName="email"
        name="email"
        placeholder="pepe31@gmail.com"
        /> -->